# Global configurations shared by ALL services
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

# Default RabbitMQ settings
spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest